.navbar {
  background-color: var(--color-primary-transparent);
  z-index: 100;
  opacity: 0.9;
}

svg.search-icon {
    display: block;
}

svg.light-icon, svg.dark-icon {
  transition: transform 0.3s ease-in-out;
}
svg.light-icon:hover, svg.dark-icon:hover {
  transform: rotate(360deg);
}

.navbar-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: var(--gutter);

  margin-top: var(--space-xs-s);

  ul {
    display: flex;
    align-items: center;
    gap: var(--gutter);
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    text-decoration: underline;
  }
}

.active {
  opacity: 0.9;
}

/* css for the theme switcher */
.dark-icon {
  display: none;
}
.light-icon {
  display: block;
}
html[data-theme="dark"] .dark-icon {
  display: block;
}
html[data-theme="dark"] .light-icon {
  display: none;
}
html[data-theme="light"] .dark-icon {
  display: none;
}
html[data-theme="light"] .light-icon {
  display: block;
}
